.product-list {
  .card-product {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    > .card-myskin {
      > .image-container {
        border-radius: 5px 5px 0 0;
      }
    }
  }
}

.product-detail {
  height: fit-content;
}

.button-footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;

  > .btn-cart {
    background: $color-primary;
    border: transparent;
    color: white;
    width: 100%;
    padding: 2rem 0;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
